<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd" >
    <bean id="loginService" class="spring.service.imp.LoginService">
        <property name="loginDao" ref="loginDao">

        </property>

    </bean>
    
    <bean name="loginDao" class="spring.dao.imp.LoginDao">
    </bean>

    <!-- 定义切面 -->
    <bean id="logAspect" class="spring.service.imp.LogService">
    </bean>

    <!-- aop相关的配置和说明 -->
    <aop:config proxy-target-class="true">
        <!-- 定义相关的切面 -->
        <aop:aspect ref="logAspect">
            <!-- 定义切入点 -->
            <aop:pointcut expression="execution(* *.*(..))" id="transactionPointCut"/>
            <aop:before pointcut-ref="transactionPointCut" method="beforeMethod"/>
            <aop:after pointcut-ref="transactionPointCut" method="afterMethod"/>
        </aop:aspect>
    </aop:config>

</beans>